<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-12">
        <h1 class="display-2 text-white">Olá, {{authService.user.name}}</h1>
        <p class="text-white mt-0 mb-5">Este é o nosso mercado, aqui você pode comprar e vender suas bitcoins</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">Comprar</h3>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Atualmente você tem
              {{authService.user.moneyBalance | currency: 'BRL'}}</h6>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Digite a quantidade em BRL (Mínimo: R$
                    100,00)</label>
                  <input [(ngModel)]="money" [ngModelOptions]="{standalone: true}" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" type="text"
                    class="form-control form-control-alternative">
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-info">Comprar ({{moneyToBtc()}} BTC)</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">Vender</h3>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Atualmente você tem {{authService.user.bitcoinBalance}} BTC</h6>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Digite a quantidade de BTC</label>
                  <input [(ngModel)]="btc" [ngModelOptions]="{standalone: true}" type="number" step="0.1" type="number"
                    class="form-control form-control-alternative">
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-info">Vender ({{btcToMoney() | currency: 'BRL'}})</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
