<div class="row pt-5 justify-content-center">
  <div class="col-12 col-md-10 col-lg-7 order-2 order-lg-1">
    <p class="h1 mb-4 text-primary">Conheça o mercado bitcoin</p>
    <p class="h4 mb-3 m-0 text-white">
      Venha transformar sua relação com o dinheiro.</p>
    <p class="h4 mb-5 m-0 text-white">
      Negocie na maior plataforma de criptomoedas, ativos digitais e outros investimentos alternativos do Brasil.
    </p>

    <button class="btn btn-primary col-12 col-lg-6">Comprar agora</button>
  </div>

  <div class="col-12 col-md-7 col-lg-5 mb-5 mb-lg-0 order-1 order-lg-1">
    <lottie-player class="col-12 p-0" src="https://assets1.lottiefiles.com/packages/lf20_SjhGcR.json"
      background="transparent" speed="1" loop autoplay></lottie-player>
  </div>
</div>
